/* Give the products a little space at the top*/
body{
    margin-top: 50px;
}

.body-content{
    min-height: calc(100vh - 70px)
}

/* Index Page */
.navbar-inverse{
    background-color: orange;
    border-color: orange;
}

.navbar-inverse .navbar-brand {
    font-weight: 600;
    color: white;
}
.card-img-top {
    width: 70% !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:not(.menu-cart):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
    .navbar-inverse .navbar-nav > li > a:not(.menu-cart):hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.orange{
    color: orange;
}

.red{
    color: red;
}

/* Detail Page */
.detail-body{
    margin-top: 50px;
}

.button{
    border-color: orange;
    background-color: white;
    color: orange;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-weight: 600;
}

footer {
    height: 50px;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    background-color: orange;
}

#footer-text{
    color: white;
    font-weight:600;
    text-align: center;
    line-height: 50px;
}

/* Cart */
.th{
    background-color: orange;
    color: white;
}

.menu-cart-amount {
    color: white;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .menu-cart {
        position: fixed !important;
        right: 10px;
        font-size: 16px;
    }

    .menu-cart-amount {
        position: fixed !important;
        right: 10px;
        top: 20px;
    }
}
