<h4 class="orange">Über das Projekt</h4>
<p>Diese Webseite ist im Rahmen einer Projektarbeit von Michael Ottiger für die Module M133 und M426 entstanden.</p>
<ul>
    <li>M133(Web-Applikation mit Session-Handling realisieren)</li>
    <li>M426(Software mit agilen Methoden entwickeln)</li>
</ul>
<p>Die Web-Applikation wurde als ASP .NET MVC Lösung umgesetzt. Dadurch konnten die Anforderungen der beiden Module vereint werden und ich hatte die Möglichkeit mir einen tieferen Einblick in ASP .NET MVC zu verschaffen.";</p>
<hr/>
<h5 class="orange">Aufgabenanforderungen:</h5>
<p>M133 - <a href="@Url.Action("M133Aufgabenanforderungen", "Home")">Anforderungen</a></p>
<p>M133 - <a href="@Url.Action("M426Aufgabenanforderungen", "Home")">Anforderungen</a></p>
