<h4>Kontakt</h4>
<h5 class="orange">Projektverantwortlicher</h5>
<address>
    Michael Ottiger<br />
    Klasse INF15 a<br />
    Email: <a href="mailto:michael_ottiger1@sluz.ch">michael_ottiger1@sluz.ch</a><br />
</address>
<hr/>
<h5 class="orange">Berufsschule</h5>
<address>
    BBZW Sursee<br/>
    Kottenmatte 4<br/>
    6210 Sursee<br/>
    <a href="tel:0413497999">041 349 79 99</a>
</address>